<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="banner">Contacts</div>
    <div class="menu">
        [@Html.ActionLink("Home", "Index", "Contacts")]
        &nbsp;
        [@Html.ActionLink("Add", "Add", "Contacts")]
        &nbsp;
        [@Html.ActionLink("List", "List", "Contacts")]
        &nbsp;
        [@Html.ActionLink("Search", "Search", "Contacts")]
        &nbsp;
        [@Html.ActionLink("Logout", "Logout", "User")]

        <span>User : @Session["username"]</span>
    </div>
    @RenderBody()
</body>
</html>
