@model mvcdemo.Models.User 
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/AnonymousLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div>Username </div>
        @Html.EditorFor(model => model.Username)
        <span>&nbsp;</span>
        @Html.ValidationMessageFor(model => model.Username)
        <p></p>
        <div>Password </div>
        @Html.PasswordFor(model => model.Password)
        <span>&nbsp;</span>
        @Html.ValidationMessageFor(model => model.Password, "")
        <p></p>
        <input type="submit" value="Login" />
    }
    <h3>@ViewBag.Message</h3>
    <p/>
    @Html.ActionLink("Register","Register","User")
</body>
</html>
