@model mvcdemo.Models.Contact

@{
    ViewBag.Title = "Add Contact";
    Layout = "~/Views/Shared/ContactsMaster.cshtml";
}

<h2>Add Contact</h2>


@using (Html.BeginForm("Add","Contacts", FormMethod.Post, 
                       new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div>Name </div>
    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { autocomplete = "off" } })
    <span>&nbsp;</span>
    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    <p></p>
    <div>Email Address </div>
    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
    <span>&nbsp;</span>
    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
    <p></p>
    <div>Phone Number </div>
    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
    <span>&nbsp;</span>
    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
    <p></p>
    <div>Profile</div>
    @Html.EditorFor(model => model.Profile, new { htmlAttributes = new { @class = "form-control" } })
    <span>&nbsp;</span>
    @Html.ValidationMessageFor(model => model.Profile, "", new { @class = "text-danger" })
    <p></p>
    <div>Select Picture</div>
    <input type="file" name="ContactPhoto" />
    <p></p>
    <input type="submit" value="Add" class="btn btn-default" />
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
