@model mvcdemo.Models.Contact

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/ContactsMaster.cshtml";
}

<h2>Contact</h2>
@Html.ActionLink("Edit", "Edit", new { id = Model.Id })
<table cellpadding="5pt">
    <tr>
        <td class="colhead">Name </td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td class="colhead">Email </td>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <td class="colhead">Phone </td>
        <td>@Model.Phone</td>
    </tr>
    <tr>
        <td class="colhead">Profile </td>
        <td>@Model.Profile</td>
    </tr>
</table>
<p></p>
<img src="@Model.PhotoURL" style="width:200px;height:200px" />



